*.sdf
# EDK-II/.vs/EDK-II/v14/.suo
x64
.vs/
*.opensdf
*.suo
*.map
debugger/stderr.txt
debugger/stdout.txt
*.opendb
/bootloader/.vs
/kernel/.vs
/bootloader/bootloader.VC.db
/kernel/kernel.VC.db
/bootloader/x64/
/kernel/x64/
/bootloader/bootloader.map
